:root {
  --navbar-height: 6rem;
  
}
ul {
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 1rem 2rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box;
  height: var(--navbar-height);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  align-items: center;
}

.navbar-links li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
}

.navbar-links li a:hover {
  text-decoration: underline;
}

.navbar-button {
  display: flex;
  align-items: center;
}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 0.5rem;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #4CAF50;
  transition: all 0.3s ease;
}

@media (min-width: 871px) { 
    :root {
      --navbar-height: 8rem;
    }
    .navbar{
        height: var(--navbar-height);
    }
    .navbar-links {
        gap: 3rem;
    }
}

@media (max-width: 870px) {
  .hamburger {
    display: flex;
  }

  .navbar-links {
    position: fixed;
    top: var(--navbar-height);
    right: -400px;
    width: 60%;
    min-width: 160px;
    max-width: 300px;
    height: calc(100vh - var(--navbar-height));
    background-color: #ffffff;
    display: flex;
    margin: 0px;
    flex-direction: column;
    gap: 0;
    padding: 2rem 1rem;
    transition: right 0.3s ease;
    z-index: 999;
    align-items: flex-start;

    box-shadow: -10px 1px 30px rgba(0, 0, 0, 0.2);
  }

  .navbar-links.open {
    right: 0;
  }

  .navbar-links li {
    padding: 1rem 0;
    border-top: 1px solid #cdcdcd;
    width: 100%;
  }

  .navbar-links li a {
    display: block;
  }

  .navbar-button {
    width: 100%;
    /* margin-top: 1rem; */
  }

  .line1.open {
    transform: rotate(45deg) translate(10px, 10px);
  }

  .line2.open {
    opacity: 0;
  }

  .line3.open {
    transform: rotate(-45deg) translate(7px, -7px);
  }
}